<mat-toolbar color="primary" class="fix-nav" *ngIf="navService.visible">
    <div class="nav-brand">
        Keybox, Hi {{username}}
    </div>

    <span class="nav-spacer"></span>
    <button mat-raised-button color="primary" (click)="openFileList()">File List
    </button>


    <button mat-raised-button color="primary" (click)="openFileUpload()" style="margin: 0px 10px 0px 10px">File Upload
    </button>

    <button mat-raised-button color="primary" (click)="openFileDownload()">File Download
    </button>


    <button mat-raised-button color="primary" (click)="onLoggedout()" style="margin: 0px 5px 0px 15px">LOGOUT
    </button>
</mat-toolbar>